@keyframes animacao-caixa {  /*Usar os -webkit-*/
   from { /*Estado inicial*/
      background: red;
      border-radius: 0px;
      top: 0;
      left: 0;
   }
   to { /*Estado final*/ 
      background: blue;
      border-radius: 150px;
      top: 200px;
      left: 200px;
   }
}

#caixa {
   width: 300px;
   height: 300px;
   background-color: red;
   position: absolute;
   animation-name: animacao-caixa;
   animation-duration: 5s;
   animation-delay: 1s;
   animation-iteration-count: 2;
   animation-direction: alternate;

   /*animation: animacao-caixa 5s 1s 2 alternate;*/
}