body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
   margin: 0;
   padding: 0;
   list-style: none;
   width: 720px;
}

ul li {
   float: left;
   background: url("aba-direita.png") no-repeat top right;
}

li a {
   display: block;
   padding: 0 2em;
   line-height: 3em;
   text-decoration: none;
   background: url("aba-esquerda.png") no-repeat top left;
   color: white;
}

ul a:hover{
   color: #894a1f;
}

ul #atual {
   background: url("aba-direita-atual.png") no-repeat top right;
}

ul #atual a {
   background: url("aba-esquerda-atual.png") no-repeat top left;
}