ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

ul a {
   width: 200px;
   height: 40px;
   text-decoration: none;
   display: block;
   color: black;
   text-indent: 30px;
   line-height: 40px;
   background: #f7b600 url('menu.png') no-repeat left bottom;
}

a:hover {
   background-position: right bottom;
   background-color: #f99200;
   color: white;
}

#home #navegacao .home a,
#contato #navegacao .contato a,
#local #navegacao .local a,
#redes #navegacao .redes a {
   background-position: right bottom;
   background-color: #f99200;
   color: white;
}